# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Autoconf / Automake collateral
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
test-driver
*.gz
*.bz2
*.zip
.deps

# Debugging files
*.dSYM
/fbuild.fdb
/tmp/Unity/src/examples/channel/Unity1.cpp
/tmp/Unity/src/examples/executor/Unity1.cpp
/tmp/Unity/src/examples/timer/Unity1.cpp
/tmp/Unity/src/tests/execution_context/Unity1.cpp
/tmp/Unity/src/tests/executor/Unity1.cpp
/tmp/Unity/src/tests/loop_scheduler/Unity1.cpp
/tmp/Unity/src/tests/no_executor/Unity1.cpp
/tmp/Unity/src/tests/performance/Unity1.cpp
/tmp/Unity/src/tests/strand/Unity1.cpp
/tmp/Unity/src/tests/system_executor/Unity1.cpp
/tmp/VisualStudio/Executor.sdf
/tmp/VisualStudio/Executor.sln
/tmp/VisualStudio/Projects/All.vcxproj
/tmp/VisualStudio/Projects/All.vcxproj.filters
/tmp/VisualStudio/Projects/UpdateSolution.vcxproj
/tmp/VisualStudio/Projects/UpdateSolution.vcxproj.filters
/tmp/VisualStudio/Projects/actor.vcxproj
/tmp/VisualStudio/Projects/actor.vcxproj.filters
/tmp/VisualStudio/Projects/async_1.vcxproj
/tmp/VisualStudio/Projects/async_1.vcxproj.filters
/tmp/VisualStudio/Projects/async_await.vcxproj
/tmp/VisualStudio/Projects/async_await.vcxproj.filters
/tmp/VisualStudio/Projects/async_op_1.vcxproj
/tmp/VisualStudio/Projects/async_op_1.vcxproj.filters
/tmp/VisualStudio/Projects/async_op_2.vcxproj
/tmp/VisualStudio/Projects/async_op_2.vcxproj.filters
/tmp/VisualStudio/Projects/bank_account_1.vcxproj
/tmp/VisualStudio/Projects/bank_account_1.vcxproj.filters
/tmp/VisualStudio/Projects/bank_account_10.vcxproj
/tmp/VisualStudio/Projects/bank_account_10.vcxproj.filters
/tmp/VisualStudio/Projects/bank_account_2.vcxproj
/tmp/VisualStudio/Projects/bank_account_2.vcxproj.filters
/tmp/VisualStudio/Projects/bank_account_3.vcxproj
/tmp/VisualStudio/Projects/bank_account_3.vcxproj.filters
/tmp/VisualStudio/Projects/bank_account_4.vcxproj
/tmp/VisualStudio/Projects/bank_account_4.vcxproj.filters
/tmp/VisualStudio/Projects/bank_account_5.vcxproj
/tmp/VisualStudio/Projects/bank_account_5.vcxproj.filters
/tmp/VisualStudio/Projects/bank_account_6.vcxproj
/tmp/VisualStudio/Projects/bank_account_6.vcxproj.filters
/tmp/VisualStudio/Projects/bank_account_7.vcxproj
/tmp/VisualStudio/Projects/bank_account_7.vcxproj.filters
/tmp/VisualStudio/Projects/bank_account_8.vcxproj
/tmp/VisualStudio/Projects/bank_account_8.vcxproj.filters
/tmp/VisualStudio/Projects/bank_account_9.vcxproj
/tmp/VisualStudio/Projects/bank_account_9.vcxproj.filters
/tmp/VisualStudio/Projects/cancel.vcxproj
/tmp/VisualStudio/Projects/cancel.vcxproj.filters
/tmp/VisualStudio/Projects/chain_int.cpp.vcxproj
/tmp/VisualStudio/Projects/chain_int.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/chain_int.vcxproj
/tmp/VisualStudio/Projects/chain_int.vcxproj.filters
/tmp/VisualStudio/Projects/chain_int_int.cpp.vcxproj
/tmp/VisualStudio/Projects/chain_int_int.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/chain_int_int.vcxproj
/tmp/VisualStudio/Projects/chain_int_int.vcxproj.filters
/tmp/VisualStudio/Projects/chain_int_int_noex.vcxproj
/tmp/VisualStudio/Projects/chain_int_int_noex.vcxproj.filters
/tmp/VisualStudio/Projects/chain_int_noex.vcxproj
/tmp/VisualStudio/Projects/chain_int_noex.vcxproj.filters
/tmp/VisualStudio/Projects/chain_int_void.cpp.vcxproj
/tmp/VisualStudio/Projects/chain_int_void.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/chain_int_void.vcxproj
/tmp/VisualStudio/Projects/chain_int_void.vcxproj.filters
/tmp/VisualStudio/Projects/chain_int_void_noex.vcxproj
/tmp/VisualStudio/Projects/chain_int_void_noex.vcxproj.filters
/tmp/VisualStudio/Projects/chain_void.cpp.vcxproj
/tmp/VisualStudio/Projects/chain_void.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/chain_void.vcxproj
/tmp/VisualStudio/Projects/chain_void.vcxproj.filters
/tmp/VisualStudio/Projects/chain_void_noex.vcxproj
/tmp/VisualStudio/Projects/chain_void_noex.vcxproj.filters
/tmp/VisualStudio/Projects/comparisons.cpp.vcxproj
/tmp/VisualStudio/Projects/comparisons.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/comparisons.vcxproj
/tmp/VisualStudio/Projects/comparisons.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_after_1.vcxproj
/tmp/VisualStudio/Projects/dispatch_after_1.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_after_2.vcxproj
/tmp/VisualStudio/Projects/dispatch_after_2.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_after_int.cpp.vcxproj
/tmp/VisualStudio/Projects/dispatch_after_int.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_after_int.vcxproj
/tmp/VisualStudio/Projects/dispatch_after_int.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_after_int_noex.vcxproj
/tmp/VisualStudio/Projects/dispatch_after_int_noex.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_after_void.cpp.vcxproj
/tmp/VisualStudio/Projects/dispatch_after_void.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_after_void.vcxproj
/tmp/VisualStudio/Projects/dispatch_after_void.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_after_void_noex.vcxproj
/tmp/VisualStudio/Projects/dispatch_after_void_noex.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_at_1.vcxproj
/tmp/VisualStudio/Projects/dispatch_at_1.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_at_2.vcxproj
/tmp/VisualStudio/Projects/dispatch_at_2.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_at_int.cpp.vcxproj
/tmp/VisualStudio/Projects/dispatch_at_int.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_at_int.vcxproj
/tmp/VisualStudio/Projects/dispatch_at_int.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_at_int_noex.vcxproj
/tmp/VisualStudio/Projects/dispatch_at_int_noex.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_at_void.cpp.vcxproj
/tmp/VisualStudio/Projects/dispatch_at_void.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_at_void.vcxproj
/tmp/VisualStudio/Projects/dispatch_at_void.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_at_void_noex.vcxproj
/tmp/VisualStudio/Projects/dispatch_at_void_noex.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_int.cpp.vcxproj
/tmp/VisualStudio/Projects/dispatch_int.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_int.vcxproj
/tmp/VisualStudio/Projects/dispatch_int.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_int_ls.vcxproj
/tmp/VisualStudio/Projects/dispatch_int_ls.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_int_noex.vcxproj
/tmp/VisualStudio/Projects/dispatch_int_noex.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_int_strand.vcxproj
/tmp/VisualStudio/Projects/dispatch_int_strand.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_int_sysex.vcxproj
/tmp/VisualStudio/Projects/dispatch_int_sysex.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_void.cpp.vcxproj
/tmp/VisualStudio/Projects/dispatch_void.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_void.vcxproj
/tmp/VisualStudio/Projects/dispatch_void.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_void_ls.vcxproj
/tmp/VisualStudio/Projects/dispatch_void_ls.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_void_noex.vcxproj
/tmp/VisualStudio/Projects/dispatch_void_noex.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_void_strand.vcxproj
/tmp/VisualStudio/Projects/dispatch_void_strand.vcxproj.filters
/tmp/VisualStudio/Projects/dispatch_void_sysex.vcxproj
/tmp/VisualStudio/Projects/dispatch_void_sysex.vcxproj.filters
/tmp/VisualStudio/Projects/ec.vcxproj
/tmp/VisualStudio/Projects/ec.vcxproj.filters
/tmp/VisualStudio/Projects/ec_int.vcxproj
/tmp/VisualStudio/Projects/ec_int.vcxproj.filters
/tmp/VisualStudio/Projects/ec_int_int.vcxproj
/tmp/VisualStudio/Projects/ec_int_int.vcxproj.filters
/tmp/VisualStudio/Projects/ep.vcxproj
/tmp/VisualStudio/Projects/ep.vcxproj.filters
/tmp/VisualStudio/Projects/ep_int.vcxproj
/tmp/VisualStudio/Projects/ep_int.vcxproj.filters
/tmp/VisualStudio/Projects/ep_int_int.vcxproj
/tmp/VisualStudio/Projects/ep_int_int.vcxproj.filters
/tmp/VisualStudio/Projects/fork_join.vcxproj
/tmp/VisualStudio/Projects/fork_join.vcxproj.filters
/tmp/VisualStudio/Projects/function_context_switch.vcxproj
/tmp/VisualStudio/Projects/function_context_switch.vcxproj.filters
/tmp/VisualStudio/Projects/get_associated_allocator.vcxproj
/tmp/VisualStudio/Projects/get_associated_allocator.vcxproj.filters
/tmp/VisualStudio/Projects/int.vcxproj
/tmp/VisualStudio/Projects/int.vcxproj.filters
/tmp/VisualStudio/Projects/int_int.vcxproj
/tmp/VisualStudio/Projects/int_int.vcxproj.filters
/tmp/VisualStudio/Projects/nested_dispatch.vcxproj
/tmp/VisualStudio/Projects/nested_dispatch.vcxproj.filters
/tmp/VisualStudio/Projects/nested_dispatch_strand.vcxproj
/tmp/VisualStudio/Projects/nested_dispatch_strand.vcxproj.filters
/tmp/VisualStudio/Projects/ping.vcxproj
/tmp/VisualStudio/Projects/ping.vcxproj.filters
/tmp/VisualStudio/Projects/pingpong.vcxproj
/tmp/VisualStudio/Projects/pingpong.vcxproj.filters
/tmp/VisualStudio/Projects/pingvoid.vcxproj
/tmp/VisualStudio/Projects/pingvoid.vcxproj.filters
/tmp/VisualStudio/Projects/pipeline.vcxproj
/tmp/VisualStudio/Projects/pipeline.vcxproj.filters
/tmp/VisualStudio/Projects/post_1.vcxproj
/tmp/VisualStudio/Projects/post_1.vcxproj.filters
/tmp/VisualStudio/Projects/post_2.vcxproj
/tmp/VisualStudio/Projects/post_2.vcxproj.filters
/tmp/VisualStudio/Projects/post_3.vcxproj
/tmp/VisualStudio/Projects/post_3.vcxproj.filters
/tmp/VisualStudio/Projects/post_4.vcxproj
/tmp/VisualStudio/Projects/post_4.vcxproj.filters
/tmp/VisualStudio/Projects/post_5.vcxproj
/tmp/VisualStudio/Projects/post_5.vcxproj.filters
/tmp/VisualStudio/Projects/post_int.cpp.vcxproj
/tmp/VisualStudio/Projects/post_int.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/post_int.vcxproj
/tmp/VisualStudio/Projects/post_int.vcxproj.filters
/tmp/VisualStudio/Projects/post_int_ls.vcxproj
/tmp/VisualStudio/Projects/post_int_ls.vcxproj.filters
/tmp/VisualStudio/Projects/post_int_noex.vcxproj
/tmp/VisualStudio/Projects/post_int_noex.vcxproj.filters
/tmp/VisualStudio/Projects/post_int_strand.vcxproj
/tmp/VisualStudio/Projects/post_int_strand.vcxproj.filters
/tmp/VisualStudio/Projects/post_int_sysex.vcxproj
/tmp/VisualStudio/Projects/post_int_sysex.vcxproj.filters
/tmp/VisualStudio/Projects/post_void.cpp.vcxproj
/tmp/VisualStudio/Projects/post_void.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/post_void.vcxproj
/tmp/VisualStudio/Projects/post_void.vcxproj.filters
/tmp/VisualStudio/Projects/post_void_ls.vcxproj
/tmp/VisualStudio/Projects/post_void_ls.vcxproj.filters
/tmp/VisualStudio/Projects/post_void_noex.vcxproj
/tmp/VisualStudio/Projects/post_void_noex.vcxproj.filters
/tmp/VisualStudio/Projects/post_void_strand.vcxproj
/tmp/VisualStudio/Projects/post_void_strand.vcxproj.filters
/tmp/VisualStudio/Projects/post_void_sysex.vcxproj
/tmp/VisualStudio/Projects/post_void_sysex.vcxproj.filters
/tmp/VisualStudio/Projects/priority_scheduler.vcxproj
/tmp/VisualStudio/Projects/priority_scheduler.vcxproj.filters
/tmp/VisualStudio/Projects/sequential_strand.vcxproj
/tmp/VisualStudio/Projects/sequential_strand.vcxproj.filters
/tmp/VisualStudio/Projects/service_construction.vcxproj
/tmp/VisualStudio/Projects/service_construction.vcxproj.filters
/tmp/VisualStudio/Projects/service_inheritance.vcxproj
/tmp/VisualStudio/Projects/service_inheritance.vcxproj.filters
/tmp/VisualStudio/Projects/service_ordering.vcxproj
/tmp/VisualStudio/Projects/service_ordering.vcxproj.filters
/tmp/VisualStudio/Projects/sort_1.vcxproj
/tmp/VisualStudio/Projects/sort_1.vcxproj.filters
/tmp/VisualStudio/Projects/sort_2.vcxproj
/tmp/VisualStudio/Projects/sort_2.vcxproj.filters
/tmp/VisualStudio/Projects/sort_3.vcxproj
/tmp/VisualStudio/Projects/sort_3.vcxproj.filters
/tmp/VisualStudio/Projects/sort_4.vcxproj
/tmp/VisualStudio/Projects/sort_4.vcxproj.filters
/tmp/VisualStudio/Projects/sort_5.vcxproj
/tmp/VisualStudio/Projects/sort_5.vcxproj.filters
/tmp/VisualStudio/Projects/sort_6.vcxproj
/tmp/VisualStudio/Projects/sort_6.vcxproj.filters
/tmp/VisualStudio/Projects/sort_7.vcxproj
/tmp/VisualStudio/Projects/sort_7.vcxproj.filters
/tmp/VisualStudio/Projects/void.vcxproj
/tmp/VisualStudio/Projects/void.vcxproj.filters
/tmp/VisualStudio/Projects/wait.vcxproj
/tmp/VisualStudio/Projects/wait.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_after_int.cpp.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_after_int.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_after_int.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_after_int.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_after_void.cpp.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_after_void.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_after_void.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_after_void.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_at_int.cpp.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_at_int.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_at_int.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_at_int.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_at_void.cpp.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_at_void.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_at_void.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_at_void.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_int.cpp.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_int.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_int.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_int.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_int_ls.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_int_ls.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_int_strand.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_int_strand.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_int_sysex.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_int_sysex.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_void.cpp.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_void.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_void.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_void.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_void_ls.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_void_ls.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_void_strand.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_void_strand.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_dispatch_void_sysex.vcxproj
/tmp/VisualStudio/Projects/wrap_dispatch_void_sysex.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_post_int.cpp.vcxproj
/tmp/VisualStudio/Projects/wrap_post_int.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_post_int.vcxproj
/tmp/VisualStudio/Projects/wrap_post_int.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_post_int_ls.vcxproj
/tmp/VisualStudio/Projects/wrap_post_int_ls.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_post_int_strand.vcxproj
/tmp/VisualStudio/Projects/wrap_post_int_strand.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_post_int_sysex.vcxproj
/tmp/VisualStudio/Projects/wrap_post_int_sysex.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_post_void.cpp.vcxproj
/tmp/VisualStudio/Projects/wrap_post_void.cpp.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_post_void.vcxproj
/tmp/VisualStudio/Projects/wrap_post_void.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_post_void_ls.vcxproj
/tmp/VisualStudio/Projects/wrap_post_void_ls.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_post_void_strand.vcxproj
/tmp/VisualStudio/Projects/wrap_post_void_strand.vcxproj.filters
/tmp/VisualStudio/Projects/wrap_post_void_sysex.vcxproj
/tmp/VisualStudio/Projects/wrap_post_void_sysex.vcxproj.filters
/tmp/VisualStudio/Projects/yield_channel.vcxproj
/tmp/VisualStudio/Projects/yield_channel.vcxproj.filters
/tmp/VisualStudio/Projects/yield_context_switch.vcxproj
/tmp/VisualStudio/Projects/yield_context_switch.vcxproj.filters
/tmp/x64-Debug/src/examples/executor/actor.nativecodeanalysis.xml
/tmp/x64-Debug/src/examples/timer/dispatch_after_1.nativecodeanalysis.xml
/tmp/x64-Debug/src/tests/execution_context/service_construction.nativecodeanalysis.xml
/tmp/x64-Debug/src/tests/execution_context/service_inheritance.nativecodeanalysis.xml
/tmp/x64-Debug/src/tests/execution_context/service_ordering.nativecodeanalysis.xml
/tmp/x64-Debug/src/tests/executor/dispatch_int.nativecodeanalysis.xml
/tmp/x64-Debug/src/tests/executor/post_int.nativecodeanalysis.xml
/tmp/x64-Debug/src/tests/loop_scheduler/dispatch_int_ls.nativecodeanalysis.xml
/tmp/x64-Debug/src/tests/strand/dispatch_int_strand.nativecodeanalysis.xml
/tmp/x64-Debug/src/tests/system_executor/dispatch_int_sysex.nativecodeanalysis.xml
/tmp/x86-Debug/src/examples/executor/actor.nativecodeanalysis.xml
/tmp/x86-Debug/src/examples/executor/async_1.nativecodeanalysis.xml
/tmp/x86-Debug/src/examples/executor/async_op_1.nativecodeanalysis.xml
/tmp/x86-Debug/src/examples/executor/bank_account_1.nativecodeanalysis.xml
/tmp/x86-Debug/src/examples/executor/bank_account_2.nativecodeanalysis.xml
/tmp/x86-Debug/src/examples/executor/bank_account_3.nativecodeanalysis.xml
/tmp/x86-Debug/src/examples/executor/bank_account_4.nativecodeanalysis.xml
/tmp/x86-Debug/src/examples/executor/bank_account_5.nativecodeanalysis.xml
/tmp/x86-Debug/src/examples/executor/post_1.nativecodeanalysis.xml
/tmp/x86-Debug/src/examples/executor/post_2.nativecodeanalysis.xml
/vc140.idb
VisualStudio
/profile.json
